#title
{
    background-color: aqua;
    color: black;
}


#centre
{
    text-align: center;
}

.centre-list
{
    display: inline-block;
    border: 2px solid black;
  outline: #0488bd solid 10px;
  margin: auto;  
  padding: 20px;
  text-align: left;

}

.font
{
    font-family: 'Courier New', Courier, monospace;
}

.list
{
    background-color: lightblue;
    color: black;
    outline: 5px;
}