#title
{
    background-color: aqua;
    color: black;
}


#centre
{
    text-align: center;
}

.centre-list
{
    display: inline-block;
    text-align: left;

}

.font
{
    font-family: 'Courier New', Courier, monospace;
}